.personal-page {
    position: relative;
    width: 100vw;
    background-color: #071013;
}
.personal-header {
    display: flex;
    padding: 60px 60px 0;
    justify-content: space-between;
}
.personal-left,
.personal-left div {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.personal-left-div {
    width: 150px;
    display: flex;
}
.fixedPersonalBtn {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 90%;
}
.personal-left {
    justify-content: space-between;
    width: 50%;
}
.personal-left h1:nth-child(1) {
    margin-right: 7px;
}
.personal-left div:nth-child(1) h1,
.link {
    font-weight: normal;
    color: #edf5fc;
    font-size: 18px;
    line-height: 23.04px;
}
.link:nth-child(2) {
    margin-left: 35px;
}
.header-title {
    padding: 60px 0 0 60px;
    font-size: 70px;
    color: #edf5fc;
    font-weight: normal;
}
.header-desc {
    padding: 0 0 60px 60px;
    font-size: 24px;
    font-weight: lighter;
    color: #edf5fc;
}
.text-block {
    width: 100vw;
    background-image: url('../../../images/X.svg');
    background-repeat: space;
    background-position: center;
    background-size: 8%;
    background-color: #071013;
    color: #edf5fc;
    justify-content: space-between;
    align-items: flex-start;
}
.text-block-div {
    display: flex;
    padding: 10% 0;
}
.text-block-p {
    width: 30%;
    margin: auto;
    font-size: 24px;
}
.desc {
    width: 100%;
    text-transform: none !important;
    margin-top: 60px !important;
}
.desc p:nth-child(2) {
    font-weight: lighter;
    font-weight: 15px;
    color: #dae0f2;
}
.text-block p:nth-child(2) {
    font-weight: lighter;
}
.text-block p:nth-child(1) {
    font-weight: normal;
    text-transform: uppercase;
}
.personal-image {
    content: '';
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../images/personal.svg');
}
.personalSlider {
    position: relative;
}
.personal-slider {
    width: 100vw;
    height: 50vh;
}
.personal-slider div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.slide1 {
    background-image: url('../../../images/image\ 8.svg');
}
.slide2 {
    background-image: url('../../../images/image\ 9.svg');
}
.slide3 {
    background-image: url('../../../images/image\ 10.svg');
}
.slide4 {
    background-image: url('../../../images/image\ 9.svg');
}
.slide5 {
    background-image: url('../../../images/image\ 8.svg');
}
.prev-slider::after,
.next-slider::before {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    content: '';
}
.prev-slider,
.next-slider {
    z-index: 2000;
    background-repeat: no-repeat;
    background-size: 65%;
    pointer-events: visible;
    border: none;
    position: absolute;
    width: 48px;
    height: 48px;
    content: '';
    border-radius: 50%;
    bottom: 40%;
    background-color: #071013;
    animation: pulseBtnSlider 2s infinite;
}
@keyframes pulseBtnSlider {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    50% {
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
.prev-slider {
    background-position-y: bottom;
    left: 36px;
    background-image: url('../../../images/Ellipse\ 33slLEFT.svg');
}
.next-slider {
    background-position-y: bottom;
    background-position-x: right;
    right: 36px;
    background-image: url('../../../images/Ellipse\ 33slRIGHT.svg');
}
.contact-block {
    width: 100vw;
    background-color: #071013;
    padding: 120px;
    position: relative;
}
.contact-block .storyBtn {
    top: 120px;
    right: 120px;
}
.mt100 {
    margin-bottom: 100px;
}
.main-contact {
    font-size: 40px;
    color: #edf5fc;
    text-transform: uppercase;
}
.position {
    color: #dae0f270 !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: lighter !important;
}
.line-block {
    margin-bottom: 50px;
    display: flex;
}
.line-block div {
    margin-right: 3%;
}
.line-block div p {
    font-size: 30px;
    color: #edf5fc;
    text-transform: uppercase;
}
.big-block {
    margin-top: 70px;
    margin-bottom: 70px;
}
.big-block p:nth-child(1) {
    font-size: 45px !important;
}
.next-project {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../images/Showreel.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.next-project .storyBtn {
    position: absolute;
    top: calc(60%);
    right: 120px;
}
.info-block {
    display: flex;
    flex-direction: column;
    width: 82%;
    margin: auto;
    padding-top: 10%;
    color: #dae0f2;
}
.info-block h1 {
    font-size: 120px;
}
.info-block p {
    font-size: 24px;
}
.next-proj {
    padding-top: 16%;
    color: #dae0f279;
}
.contact-block {
    overflow: visible !important;
}
.gradientBtnContact {
    width: 110px;
    height: 110px;
    left: 90%;
    border-radius: 50%;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    background: linear-gradient(125deg, #7344f4 10%, #eec01b 50%, #7344f4 90%);
    background-size: 600% 600%;
    box-shadow: 0 0 0 0 #eec01b;
    animation: gradient 5s ease infinite;
}
.gradientBtnContact p {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #dae0f2;
    font-size: 14px;
    top: 20%;
}
.pStoryBtn p {
    padding-top: 10%;
}
@media (min-width: 1920px) {
    .header-title {
        font-size: 120px;
    }
    .text-block-p {
        font-size: 36px;
    }
    .contact-block {
        width: 89vw;
        margin: auto;
    }
    .info-block {
        width: 80%;
    }
}

@media (min-width: 1920px) {
    .cases-Array{
        width: 550px;
        height: 430px;
    }
    .casesArrayItem{
        height: 53px;
        font-size: 50px;
    }
    .casesArrayItem:hover::before {
        z-index: 2000;
        position: absolute;
        transition: 0.3s ease-in-out;
        left: -53px;
        content: '';
        width: 53px;
        height: 53px;
    }
}