.personal-page {
    width: 100vw;
    background-color: #071013;
}
.personal-header {
    display: flex;
    padding: 60px 60px 0;
    justify-content: space-between;
}
.personal-left,
.personal-left div {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.personal-left {
    justify-content: space-between;
    width: 50%;
}
.personal-left h1:nth-child(1) {
    margin-right: 7px;
}
.personal-left div:nth-child(1) h1,
.link {
    font-weight: normal;
    color: #edf5fc;
    font-size: 18px;
    line-height: 23.04px;
}
.link:nth-child(2) {
    margin-left: 35px;
}
.header-title {
    padding: 60px 0 0 60px;
    font-size: 70px;
    color: #edf5fc;
    font-weight: normal;
}
.header-desc {
    padding: 0 0 60px 60px;
    font-size: 24px;
    font-weight: lighter;
    color: #edf5fc;
}
.text-block {
    width: 100vw;
    background-image: url('../../../images/X.svg');
    background-repeat: space;
    background-position: center;
    background-size: 8%;
    background-color: #071013;
    color: #edf5fc;
    justify-content: space-between;
    align-items: flex-start;
}
.text-block div {
    display: flex;
    padding: 10% 0;
}
.text-block p {
    width: 30%;
    margin: auto;
    font-size: 24px;
}
.text-block p:nth-child(2) {
    font-weight: lighter;
}
.text-block p:nth-child(1) {
    font-weight: normal;
    text-transform: uppercase;
}
.personal-image {
    content: '';
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../images/personal.svg');
}
.personalSlider{
    position: relative;
}
.personal-slider {
    width: 100vw;
    height: 50vh;
}
.personal-slider div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.slide1 {
    background-image: url('../../../images/image\ 8.svg');
}
.slide2 {
    background-image: url('../../../images/image\ 9.svg');
}
.slide3 {
    background-image: url('../../../images/image\ 10.svg');
}
.slide4 {
    background-image: url('../../../images/image\ 9.svg');
}
.slide5 {
    background-image: url('../../../images/image\ 8.svg');
}
.prev-slider::after, .next-slider::before {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    content: '';
    background-color: rgba(237, 245, 252, 0.12);
}
.prev-slider,.next-slider{
    z-index: 2000;
    background-repeat: no-repeat;
    background-size: 65%;
    pointer-events: visible;
    border: none;
    position: absolute;
    width: 48px;
    height: 48px;
    content: '';
    border-radius: 50%;
    bottom: 40%;
    background-color: #071013;
}
.prev-slider {
    background-position-y: bottom;
    background-position: center left;
    left: 36px;
    background-image: url('../../../images/Ellipse\ 33slLEFT.svg');

}
.next-slider{
    background-position: center right;
    right: 36px;
    background-image: url('../../../images/Ellipse\ 33slRIGHT.svg');
}