@media (min-width: 2560px) {
    .story-header {
        padding: 80px;
    }
    .header-left div:nth-child(1) {
        font-size: 40px;
    }
    .header-left div:nth-child(2) {
        font-size: 25px;
    }
    .header-right {
        width: 100px;
        height: 100px;
    }
    .story-main-content {
        padding: 20% 0 0 10%;
        -webkit-padding: 20% 0 0 10%;
    }
    .story-main-content p:nth-child(1) {
        font-size: 40px;
        padding-bottom: 30px;
    }
    .story-main-content p:nth-child(3),
    .story-main-content p:nth-child(2) {
        font-size: 30px;
    }
    .story-ellipse {
        right: 80px;
        top: -45%;
        width: 1200px;
        height: 1200px;
    }
 .story-main {
        height: 77vh;
        -webkit-height: 77vh;
    }
    .story-bottom {
        height: 70vh;
    }
}
@media (max-width: 1920px) {
    .story-main {
        width: 100vw;
        height: 64vh;
    }
    .story-bottom {
        height: 80vh;
    }
    .story-main-content {
        padding: 150px 0 150px 20%;
    }
    .story-ellipse {
        right: 80px;
        top: -47%;
        width: 750px;
        height: 750px;
    }
}

@media (max-width: 1440px) {
    .story-ellipse {
        right: 80px;
        top: -35%;
        width: 550px;
        height: 550px;
    }
    .story-main{
        height: 100vh;
    }
    .story-bottom {
        height: 120vh;
    }
}
@media (max-width: 1280px) {
    .story-main {
        width: 100vw;
        height: 70vh;
    }
    .header-left div:nth-child(2) a {
        width: 120px !important;
    }
    .header-left div:nth-child(1) {
        margin-right: 50px;
    }
}

@media (max-width: 1040px) {
    .header-left div:nth-child(2) a {
        width: 90px !important;
    }
    .story-ellipse {
        right: 80px;
        top: -25%;
        width: 400px;
        height: 400px;
    }
    .story-bottom-marquee {
        margin: 0;
    }
}

@media (max-width: 800px) {
    .story-main-content p:nth-child(1) {
        width: 100%;
    }
    .story-ellipse {
        right: 80px;
        top: -25% !important;
        width: 300px !important;
        height: 300px !important;
    }
    .story-bottom {
        height: 85vh !important;
    }
    .story-main {
        width: 100vw;
        height: 74vh;
    }
}
@media (max-width: 717px) {
    .story-ellipse {
        right: 80px;
        top: -19% !important;
        width: 300px !important;
        height: 300px !important;
    }
    .story-main-content p:nth-child(2) {
        margin: 20px 0;
        text-align: left;
        width: 60%;
    }
    .story-bottom {
        height: 85vh !important;
    }
    .story-main {
        width: 100vw;
        height: 74vh;
    }
}

@media (max-width: 655px) {
    .story-main-content p:nth-child(2) {
        margin: 20px 0;
        text-align: left;
        width: 100%;
    }
}
