@font-face {
    font-family: 'Family108';
    src: local('Family108'), url('Font/10879/10879.otf') format('otf');
}
@font-face {
    font-family: 'Family108';
    src: local('Family108'), url('Font/10879/10880.otf') format('otf');
}
@font-face {
    font-family: 'Family108';
    src: local('Family108'), url('Font/10879/10881.otf') format('otf');
}
@font-face {
    font-family: 'Family108';
    src: local('Family108'), url('Font/10879/10882.otf') format('otf');
}
@font-face {
    font-family: 'Family108';
    src: local('Family108'), url('Font/10879/10883.otf') format('otf');
}
@font-face {
    font-family: 'Family108';
    src: local('Family108'), url('Font/10879/10884.otf') format('otf');
}
@font-face {
    font-family: 'Family108';
    src: local('Family108'), url('Font/10879/10885.otf') format('otf');
}
@font-face {
    font-family: 'Family108';
    src:local('Family108'), url('Font/10879/10886.otf') format('otf');
}
@font-face {
    font-family: 'Family108';
    src:local('Family108'), url('Font/10879/10887.otf') format('otf');
}
@font-face {
    font-family: 'Family108';
    src: local('Family108'), url('Font/10879/10888.otf') format('otf');
}