.movable {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url('../../images/Cursor.svg');
    background-position: center;
    background-size: 100%;
    position: absolute;
    z-index: 999999999;
    opacity: .9;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.MainPageButton:hover + .movable::before{
    display: none;
}
.hoveredCursorClass{
    animation: hoveredCurs .2s ease-in-out;
    transition: .1s ease;
    transform: scale(4);
    background-image: url('../../images/CursorHovered.svg');
}
@keyframes hoveredCurs {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(4);
        opacity: 0;
    }
}
.movable::before {
    position: absolute;
    transform: translate(+61%, +56%);
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.226);
}
