.movable {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url('../../images/Cursor.svg');
    background-position: center;
    background-size: 100%;
    position: absolute;
    z-index: 999999999;
    transform: translate(-50%, -50%);
    pointer-events: none;
    
}
.hoveredCursorClass{
    animation: hoveredCurs .3s ease-in;
    transition: .2s ease-in;
    transform: scale(5);
}
@keyframes hoveredCurs {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.movable::before {
    position: absolute;
    transform: translate(+61%, +56%);
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.226);
}
