.story-main {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url('../../../../../images/X.svg');
    background-repeat: space;
    background-size: 8%;
}
.story-main-content {
    padding: 150px 0 0 20%;
    width: 80%;
    color: #fff;
}
.story-main-content p:nth-child(1) {
    text-align: left;
    font-size: 22px;
    width: 50%;
    text-transform: uppercase;
    font-weight: 300;
}
.story-main-content p:nth-child(3),.story-main-content p:nth-child(2) {
    text-align: left;
    width: 40%;
    color: #dae0f2;
    font-weight: 18px;
    font-weight: 300;
    opacity: 0.6;
}
.story-main-content p:nth-child(2) {
    margin: 20px 0;
    text-align: left;
    width: 40%;
}
.story-main-content p:nth-child(3) {
    text-align: left;
    width: 40% !important;
}
