*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* cursor: url('../images/Cursor.svg'),pointer; */
    font-family: 'Outfit', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

