.video-object {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.video-toner {
    background: rgb(255, 255, 255, 0);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.8432948179271709) 100%
    );
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    left: 0;
    top: 0;
}
.video-controls {
    z-index: 10;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: flex-end;
    padding: 0 60px;
    bottom: 60px;
    width: 100%;
    background-color: transparent;
}
.video-video video{
    object-fit: cover;
}
.video-center{
    align-items: center;
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.video-text {
    font-size: 18px;
    width: 72px;
    color: #edf5fc !important;
    bottom: 0;
}
.play-mute {
    display: flex;
    align-items: center;
}
.play-btn {
    background-color: #eebf1b;
    width: 86px;
    height: 36px;
    text-transform: uppercase;
    color: #071013;
    border: none;
    font-size: 18px;
    line-height: 23.76px;
    letter-spacing: 1px;
    margin-right: 20px;
}
.muted-btn {
    background-color: #7344f4;
    width: 86px;
    height: 36px;
    text-transform: uppercase;
    color: #edf5fc;
    border: none;
    font-size: 18px;
    line-height: 23.76px;
    letter-spacing: 1px;
}
.hide-controls{
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #edf5fc;
    font-weight: normal;
    font-size: 18px;
    line-height: 23.04px;
}
input[type='range'] {
    width: 70%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 10px;
}
input[type='range']::-webkit-slider-runnable-track {
    height: 3px !important;
    background-color: rgba(237, 245, 252, 0.24);
}
input[type='range']::-webkit-slider-thumb {
    background: #eebf1b;
    cursor: pointer;
    width: 15px;
    height: 15px;
    transition: 0.3s ease;
    -webkit-appearance: none;
    margin-top: -4px;
    box-shadow: -1000px 0px 0px -1000px #eebf1b;
}
/* input[type='range']::-moz-range-track {
    background-color: rgb(237, 245, 252, 0.24);
}
input[type='range']::-moz-range-thumb {
    background: #eebf1b;
    cursor: pointer;
    height: 7px;
    border-radius: 0px;
    transition: 0.3s ease;
    box-shadow: -1000px 0px 0px -1000px #eebf1b;
    padding: 0px;
    margin: 0px;
} */
