.video-object {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.video-toner {
    background: rgb(255, 255, 255, 0);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.8432948179271709) 100%
    );
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    left: 0;
    top: 0;
}
.video-controls {
    z-index: 10;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: flex-end;
    padding: 0 60px;
    bottom: 60px;
    width: 100%;
    background-color: transparent;
}
.video-video video {
    object-fit: cover;
}
.video-center {
    align-items: center;
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.video-text {
    font-size: 18px;
    width: 72px;
    color: #edf5fc !important;
    bottom: 0;
}
.play-mute {
    display: flex;
    align-items: center;
}
.play-btn {
    background-color: #eebf1b;
    width: 86px;
    height: 36px;
    text-transform: uppercase;
    color: #071013;
    border: none;
    font-size: 18px;
    line-height: 23.76px;
    letter-spacing: 1px;
    margin-right: 20px;
}
.muted-btn {
    background-color: #7344f4;
    width: 86px;
    height: 36px;
    text-transform: uppercase;
    color: #edf5fc;
    border: none;
    font-size: 18px;
    line-height: 23.76px;
    letter-spacing: 1px;
}
.hide-controls {
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #edf5fc;
    font-weight: normal;
    font-size: 18px;
    line-height: 23.04px;
}

.full-progressbar {
    width: 70%;
    align-items: center;
}
progress{
    height: 3px;
    background: #edf5fc56;
    transition: all ease;
}
input[type='range'],
progress {
    position: absolute;
    width: 40%;
    height: 5px;
    appearance: none;
    transition: all ease;
}
progress[value] {
    transition: all ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 7px;

    /* For IE10 */
    color: #eebf1b;
}
progress[value]::-webkit-progress-value {
    transition: all ease;
    background-color: #eebf1b;
}
progress[value]::-moz-progress-bar {
    transition: all ease;
    background-color: #eebf1b;
}

 input[type='range'] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: none;
    transition: all ease;
    -moz-apperance: none;
    /* height: 4px;
    background: #edf5fc56; */
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}
/* input[type='range']:focus {
    outline: none;
    border: none;
}

input[type='range']::-moz-range-track {
    border: none;
    background: transparent;
    outline: none;
}

input[type='range']::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line 
    background: transparent;
}*/

input[type='range']::-webkit-slider-thumb {
    margin-top: 1px;
    -webkit-appearance: none;
    width: 15px;
    transition: all ease;
    height: 7px;
    border-radius: 0%;
    border: 0;
    background: #eebf1b;
}

input[type='range']::-moz-range-thumb {
    margin-top: 1px;
    transition: all ease;
    -moz-appearance: none;
    width: 15px;
    height: 7px;
    border-radius: 0%;
    border: 0;
    background: #eebf1b;
}

input[type='range']::-ms-thumb {
    margin-top: 1px;
    width: 15px;
    height: 7px;
    transition: all ease;
    border-radius: 0%;
    border: 0;
    background: #eebf1b;
}

input[type='range']::-ms-fill-lower{
    transition: all ease;
    background: lawngreen;
}
input[type='range']::-ms-fill-upper {background: khaki;
    transition: all ease;
}
/* 
input[type='range']::-ms-tooltip {
    display: none;
} */
