@media (min-width: 2560px) {
    .main__logo {
        width: 100px;
        height: 100px;
    }
    .MainPageButton {
        font-size: 25px;
        width: 100px;
        height: 100px;
    }
    .MainPageButton:hover::before {
        width: 120px;
        height: 120px;
    }
    .clickedCases {
        background-size: 50%;
        width: 120px;
        height: 120px;
    }
    .casesLayout {
        height: 92vh;
    }
    .main {
        padding: 80px;
    }
    .firstCircle {
        top: 80px;
    }
    .secondCircle {
        bottom: 80px;
        left: 80px;
    }
    .thirdCircle {
        bottom: 80px;
        right: 80px;
    }
    .typing__text {
        font-size: 30px;
    }
    .main__bottom {
        margin-bottom: 60px;
    }
    .gradientBtn {
        width: 120px;
        height: 120px;
    }
    .casesBtn {
        right: 80px;
        bottom: 80px;
    }
    .casesTextBlock {
        bottom: 80px;
        left: 80px;
        font-size: 25px;
    }
    .casesArrow {
        width: 30px;
        height: 30px;
    }
    .casesArray {
        bottom: 80px;
        font-size: 55px;
    }
    .casesArray div {
        margin-top: 40px;
        height: 50px;
        width: 265px;
    }
    .mcDonalds:hover::before {
        width: 50px;
        height: 50px;
        left: -50px;
    }
    .casesMain {
        top: calc(40%);
    }
    .casesMain p:nth-child(1) {
        font-size: 100px;
    }
    .casesMain p:nth-child(2) {
        font-size: 35px;
    }
    .storyLayout {
        clip-path: polygon(18% 0, 100% 0, 100% 100%, 6% 93%);
    }
    .storyBlock {
        margin-top: 20%;
    }
    .storyBlock h3 {
        font-size: 55px;
    }
    .storyBlock div {
        font-size: 22px;
    }
    .hireLayout {
        clip-path: polygon(0 0, 85% 0, 95% 93%, 0 100%);
    }
    .hireBLock {
        width: 50%;
        margin-top: 20%;
    }
    .hireBLock__left__top,
    .hireBLock__left__middle {
        font-size: 22px;
        width: 500px;
    }
    .hireBLock__left__bottom {
        font-size: 45px;
    }
    .hireBLock__right {
        font-size: 22px;
    }
    .hireBLock__right__bottom {
        font-size: 25px;
    }
}
@media (min-width: 1440px) {
    .casesLayout {
        height: 89vh;
    }
    .casesMain {
        margin-top: 20%;
    }
    .storyBlock {
        margin-top: 17%;
    }
    .hireBLock {
        margin-top: 17%;
    }
}
@media (max-width: 1024px) {
    .casesLayout {
        height: 89vh;
        clip-path: polygon(51% 0%, 100% 15%, 100% 100%, 0 100%, 0 30%);
    }
    .casesArray {
        bottom: 265px;
        left: calc(75%);
    }
    .storyBlock {
        margin-top: 15%;
    }
    .hireBLock {
        height: 490px;
        margin-top: 18%;
        margin-left: 12%;
    }
}
@media (max-width: 768px) {
    .casesArray {
        bottom: 210px;
    }
    .casesMain {
        margin-top: 190px;
    }
    .storyLayout {
        clip-path: polygon(18% 0, 100% 0, 100% 100%, 12% 89%);
    }
    .storyBlock h3 {
        font-size: 24px;
    }
    .storyBlock div {
        font-size: 12px;
    }
    .hireBLock__left {
        font-size: 15px;
    }
    .hireBLock__left__middle {
        margin-top: 0;
        width: 300px;
    }
    .hireBLock {
        margin-top: 19%;
        margin-left: 8%;
    }
    .hireBtn {
        top: 20px;
        left: 20px;
    }
    .hireBLock__right__middle {
        margin-top: 50px;
    }
    .hireBLock__right__bottom {
        margin-top: 85px;
    }
    .hireBLock__right__bottom .contact:nth-child(1) {
        margin-right: 10px;
    }
    .hireLayout {
        clip-path: polygon(0 0, 85% 0, 91% 90%, 0 100%);
    }
}
@media (min-width: 320px) {
    .movable{
        display: none;
    }
    #overlay1,
    #overlay2,
    #overlay3 {
        display: none;
    }
    .main {
        padding: 20px;
    }
    .main__logo {
        top: 20px;
        right: 20px;
    }
    .main__bottom__video {
        content: '';
        width: 100%;
        transform: rotate(-90deg);
    }
    .main__bottom {
        position: absolute;
        width: 170px;
        content: '';
        height: 35px;
        left: calc(-11%);
        bottom: 20px;
        margin-bottom: 60px;
    }
    .progress-done{
        margin: 0;
    }
     .secondCircle, .thirdCircle ,.firstCircle{
        left: calc(65%);
    }
    .firstCircle{
        top: 60%;
    }
    .secondCircle{
        bottom: 45%;
    }
    .MainPageButton{
        border-radius: 0px;
        height: 36px;
        width: 90px;
    }
    .MainPageButton:hover::before , .first__dot ,.second__dot ,.third__dot{
        display: none !important;
    }
}
