.showreel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    left: 0;
    top: 0;
    object-fit: cover;
}
.toner {
    background: rgb(255, 255, 255);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 0, 0.8432948179271709) 100%
    );
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -9;
    left: 0;
    top: 0;
}
#polyline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9998;
}
#overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9998;
}
#overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9998;
}
#overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9998;
}
.displayNone {
    z-index: -10000;
    width: 0vw;
    height: 0vh;
    display: none !important;
    transform: translate(9999px);
    opacity: 0;
}
.black {
    background-color: #000;
}
.main {
    padding: 60px;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: #fff;
}
.main::before {
    content: '';
    z-index: 6;
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: 0.02;
    left: 0;
    background-image: url('../../images/bg-noise.gif');
    position: absolute;
    background-size: cover;
}
.noise::before {
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: 0.04;
    left: 0;
    z-index: 2000;
    background: #00000007;
    background-image: url('../../images/bg-noise.gif');
    position: absolute;
    background-size: cover;
}
.main__logo {
    background-image: url('../../images/Logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 52px;
    height: 60px;
}
.main__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__bottom {
    align-items: center;
    margin-bottom: 35px;
}
.main__bottom__video {
    width: 30%;
    margin: auto;
    border: none;
    height: 1px;
    content: '';
    background-color: #EDF5FC;
}
.progress-done {
    background-color: #EEBF1B;
    width: 0%;
    margin: auto;
    height: 1px;
    content: '';
    animation: progressBar 7.5s ease-in infinite;
}
@keyframes progressBar {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}