@media (min-width: 1919px) {
    .secondCircle {
        bottom: 80px !important;
        left: 99px !important;
        -webkit-bottom: 80px !important;
        -webkit-left: 99px !important;
    }
    .thirdCircle {
        bottom: 80px !important;
        right: 85px !important;
        -webkit-bottom: 85px !important;
        -webkit-right: 90px !important;
    }
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .storyBlock h3 {
        font-size: 48px;
        margin-right: 80px;
        line-height: 57px;
    }
    .storyBlock div {
        font-size: 22px;
        padding-left: 170px;
    }
    .casesArrow{
        margin: 0; padding: 0 !important;
    }
}
@media (min-width: 2550px) {
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile,
    .swiper__mobile {
        display: none;
        -webkit-display: none;
    }
    .showreel {
        display: block;
    }
    .main__logo {
        width: 100px;
        height: 100px;
    }
    .MainPageButton {
        font-size: 25px;
        width: 100px;
        height: 100px;
    }
    .MainPageButton:hover::before {
        width: 120px;
        height: 120px;
    }
    .clickedCases {
        background-size: 50%;
        width: 120px;
        height: 120px;
        left: calc(47.5%);
    }
    .main {
        padding: 80px;
    }
    .typing__text {
        font-size: 30px;
    }
    .main__bottom {
        margin-bottom: 60px;
    }
    .gradientBtn {
        width: 120px;
        height: 120px;
    }
    .casesBtn {
        right: 80px;
        bottom: 80px;
    }
    .casesTextBlock {
        bottom: 80px;
        left: 80px;
        font-size: 25px;
    }
    .casesArrow {
        width: 30px;
        height: 30px;
    }
    .casesArray {
        bottom: 10%;
        font-size: 55px;
    }
    .casesArray div {
        margin-top: 40px;
        height: 50px;
        width: 265px;
    }
    .mcDonalds:hover::before {
        width: 50px;
        height: 50px;
        left: -50px;
    }
    .casesMain {
        top: calc(40%);
    }
    .casesMain p:nth-child(1) {
        font-size: 100px;
    }
    .casesMain p:nth-child(2) {
        font-size: 35px;
    }
    .storyBlock {
        margin-top: 20%;
    }
    .storyBlock h3 {
        font-size: 48px;
        margin-right: 100px;
        line-height: 57px;
    }
    .storyBlock div {
        font-size: 22px;
        padding-left: 200px;
    }
    .casesArrow{
        margin: 0; padding: 0 !important;
    }
    .hireBLock {
        width: 50%;
        margin-top: 20%;
    }
    .hireBLock__left__top,
    .hireBLock__left__middle {
        font-size: 22px;
        width: 500px;
    }
    .hireBLock__left__bottom {
        font-size: 45px;
    }
    .hireBLock__right {
        font-size: 22px;
    }
    .hireBLock__right__bottom {
        font-size: 25px;
    }
    .secondCircle {
        bottom: 75px !important;
        left: 129px !important;
        -webkit-bottom: 75px !important;
        -webkit-left: 129px !important;
    }
    .thirdCircle {
        bottom: 75px !important;
        right: 120px !important;
        -webkit-bottom: 75px !important;
        -webkit-right: 120px !important;
    }
}

@media (max-width: 1440px) {
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile,
    .swiper__mobile {
        display: none;
        -webkit-display: none;
    }
    .showreel {
        display: block;
    }
    .storyBlock {
        margin-top: 15%;
    }
    .hireBLock {
        margin-top: 15%;
    }
    .casesMain {
        top: 0;
    }
    .hireBtn {
        padding-top: 1.5%;
    }
}
@media (max-width: 1024px) {
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile,

    .showreel {
        display: block;
    }
    .casesLayout {
        clip-path: polygon(51% 0%, 100% 15%, 100% 100%, 0 100%, 0 30%);
    }
    .casesArray {
        bottom: 265px;
        left: calc(75%);
    }
    .storyBlock {
        margin-top: 15%;
    }
    .hireBLock {
        height: 490px;
        margin-top: 18%;
        margin-left: 12%;
    }
}
@media (max-width: 768px) {
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile,
    .swiper__mobile {
        display: none;
        -webkit-display: none;
    }
    .showreel {
        display: block;
    }
    .casesArray {
        bottom: 210px;
    }
    .casesMain {
        margin-top: 190px;
    }
    .storyLayout {
        clip-path: polygon(18% 0, 100% 0, 100% 100%, 12% 89%);
    }
    .storyBlock h3 {
        font-size: 24px;
    }
    .storyBlock div {
        font-size: 12px;
    }
    .hireBLock__left {
        font-size: 15px;
    }
    .hireBLock__left__middle {
        margin-top: 0;
        width: 300px;
    }
    .hireBLock {
        margin-top: 19%;
        margin-left: 8%;
    }
    .hireBtn {
        top: 20px;
        left: 20px;
    }
    .hireBLock__right__middle {
        margin-top: 50px;
    }
    .hireBLock__right__bottom {
        margin-top: 85px;
    }
    .hireBLock__right__bottom .contact:nth-child(1) {
        margin-right: 10px;
    }
    .hireLayout {
        clip-path: polygon(0 0, 85% 0, 91% 90%, 0 100%);
    }
}
@media (max-width: 425px) {
    .mobile__btns button {
        z-index: 20002;
        width: 60px;
        height: 30px;
        color: #fff;
        font-size: 18px;
        border: none;
        background: transparent;
        text-transform: uppercase;
    }
    .mobile__btns button:nth-child(2) {
        margin-top: -100px;
    }
    .mobile__btns {
        z-index: 20002;
        display: flex !important;
        -webkit-display: flex !important;
        flex-direction: column;
        position: absolute;
        right: 60px;
        bottom: 60px;
        height: 350px;
        justify-content: space-between;
    }
    .showreel {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile {
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        position: absolute !important;
        content: '';
        z-index: -9;
        background-image: url('../MainPage/video/videoPower.gif');
    }
    .swiper__mobile {
        display: flex;
    }
    .cube,
    .secondCircle,
    .thirdCircle,
    .firstCircle {
        display: none;
    }
    .casesLayout {
        overflow: hidden;
    }
    .slick-slide {
        z-index: 2000;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }
    .swiper-item {
        background-image: url('../../images/Showreel.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
    .swiper-item div:nth-child(1) {
        padding-top: 100%;
        padding-left: 10%;
        z-index: 2000;
        color: #dae0f2;
    }
    .swiper-item div:nth-child(2) span {
        color: #fff;
    }
    .swiper-item div:nth-child(2) {
        padding-top: 20%;
        padding-left: 10%;
        color: #dae0f2;
    }
    .swiper-item h3 {
        font-size: 48px;
    }
    .swiper-item p {
        font-size: 18px;
    }
    .movable {
        display: none;
    }
    #overlay1,
    #overlay2,
    #overlay3 {
        display: none;
    }
    .main {
        height: 100vh;
        padding: 20px;
    }
    .main__logo {
        top: 20px;
        right: 20px;
    }
    .main__bottom__video {
        content: '';
        width: 100%;
        transform: rotate(-90deg);
    }
    .main__bottom {
        position: absolute;
        width: 332px;
        content: '';
        height: 35px;
        left: calc(-29%);
        bottom: 20px;
        margin-bottom: 166px;
    }
    .progress-done {
        margin: 0;
    }
    .MainPageButton {
        border-radius: 0px;
        height: 36px;
        width: 90px;
    }
    .storyLayout,
    .hireLayout,
    .casesLayout {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0) !important;
    }
    .clickedStory,
    .clickedCases,
    .clickedHire,
    .casesTextBlock,
    .casesArray {
        display: none;
    }
    .casesBtn {
        bottom: 20px;
        right: 20px;
    }
    .storyBtn {
        top: 20px;
        right: 20px;
    }
    .storyBlock {
        margin-top: 30%;
        width: 85%;
    }
    .hireBLock {
        flex-direction: column;
        margin: 35% auto 0;
        align-items: center;
    }
    .hireBLock__left,
    .hireBLock__right {
        width: 335px;
    }
    .hireBLock__left__top {
        margin: 15px 0;
    }
    .hireBLock__right__top {
        align-items: flex-start;
        flex-direction: column;
    }
    .hireBLock__left__middle,
    .hireBLock__right__top {
        font-size: 14px;
    }
    .hireBLock__left__bottom {
        font-size: 30px;
    }
    .hireBLock__right__middle,
    .hireBLock__right__bottom {
        margin-top: 15px;
    }
    .hireBLock__right__middle p,
    .hireBLock__right__middle h3 {
        font-size: 15px;
    }
    .main__bottom {
        bottom: 30px;
    }
}
@media (max-width: 375px) {
    .main {
        padding: 30px;
    }
    .secondCircle,
    .thirdCircle,
    .firstCircle {
        left: calc(72%);
    }
    .main__logo {
        top: 30px;
        right: 30px;
    }
}
@media (max-width: 320px) {
    .secondCircle,
    .thirdCircle,
    .firstCircle {
        left: calc(69%);
    }
    .storyBlock {
        margin-top: 40%;
        flex-direction: column;
    }
}
.mobile__btns {
    display: none ;
    -webkit-display: none ;
}