.storyLayout{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 7% 92%);
    z-index: 2000;
    background-color: #000;
    animation: fadeInTopRight .3s;
}
.storyBtn{ 
    font-size: 13px;
    padding-top: 9px;
    position: absolute;
    top: 60px;
    right: 60px;
}